.lf-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;

  table {
    border: 1px solid #000;
    margin-bottom: 18px;
    td,
    th {
      padding: 8px;
      border: 1px solid #000;
      button {
        margin-right: 4px;
        &:last-of-type {
          margin-right: 0px;
        }
      }
      .count {
        margin-left: 4px;
      }
    }
  }

  .app-content {
    /* flex: 1; */
    width: 1000px;
    height: 600px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 5px;
    box-shadow: 0 12px 5px -10px rgb(0 0 0 / 10%), 0 0 4px 0 rgb(0 0 0 / 10%);
  }
}